# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/main/nonBlockingServer/util/Texts.java
/src/test/java/server/TextsData.java
/main/nonBlockingServer/util/TextsOne.java
/avaya-logger-server-service.exe
