# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/src/main/java/main/nonBlockingEchoServer/util/Texts.java
/src/test/java/server/TextsData.java
/src/main/java/main/nonBlockingEchoServer/util/TextsOne.java
