<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<!--<h4><a href="">Upload XML</a></h4>-->
<h3>Report on all calls</h3>
<div>

<!--
                 /*@thymesVar id="list" type="java.util.List<java.lang.String>"*/
-->
    <form action="" method="get" >
      <p>
          <label class="control-label col-sm-3" for="start">Enter start date and time:</label>
          <input type="datetime-local" class="form-control" name="start" id="start" th:value="${{start_def}}"><br/>
      </p>
      <p>
          <label class="control-label col-sm-3" for="end">Enter end date and time:</label>
          <input type="datetime-local" class="form-control" name="end" id="end" th:value="${{end_def}}"><br/>
      </p>
      <p>
          <input type="submit" value="Update report" name="submit">


          <label >
              <select class="form-control" th:field="*{subject}" id="subject" name="subject">
                  <option th:each="iter: ${list}" th:value="${{iter}}" th:text="${iter}"></option>
              </select>
          </label>

      </p>
  </form>
</div>



<table border="1" cellpadding="8" cellspacing="0" width="50%">
    <thead>
    <tr>
      <!--  <th width="5%">Date start</th>
        <th width="5%">Date end</th>-->
        <th>#</th>
        <th width="8%">cond_code</th>
        <th width="8%">date</th>
        <th width="8%">sec_dur</th>
        <th width="8%">code_dial</th>
        <th width="8%">code_used</th>
        <th width="8%">dialed_num</th>
        <th width="8%">calling_num</th>
        <th width="8%">acct_code</th>
        <th width="8%">out_crt_id</th>
        <th width="8%">in_crt_id</th>
        <th width="8%">in_trk_code</th>
    </tr>
    </thead>
    <tbody>

<!--
    /*@thymesVar id="calls" type="java.util.List<nonBlockingEchoServer.util.ToCalls>"*/
-->
    <tr th:each="call,iter: ${calls}">
        <td th:text="${iter.count}"></td>
        <td th:text="${call.cond_code}"></td>
        <td th:text="${call.day} + '.' + ${call.month} + '.' + ${call.years}"></td>
        <td th:text="${call.sec_dur}"></td>
        <td th:text="${call.code_dial}"></td>
        <td th:text="${call.code_used}"></td>
        <td th:text="${call.dialed_num}"></td>
        <td th:text="${call.calling_num}"></td>
        <td th:text="${call.acct_code}"></td>
        <td th:text="${call.out_crt_id}"></td>
        <td th:text="${call.in_crt_id}"></td>
        <td th:text="${call.in_trk_code}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>