test_date {
  host = "127.0.0.1"
  port = 6666
}

work_date {
  host = "localhost"
  port = 514
}

path_to_save_files {
  folder_name = "Loggers"
  start_name_files = " Avaya 8 bilings "
}

length_lines_in_one_file {
  length = 10
}

# Если сервер отвалился, текущий коннект закроется, но каждые "time" секунд будет проверка и если сервер поднялся программа продолжит работать дальше.
ThreadLifeCheckTimeSecounds {
  time = 5
}

# include required(file("/apps/masterjava/config/persist.conf"))
