work_date {
  port = 9000
}

path_to_save_files {
# Название папки куда будет сохранена считанная информация в порте:
  folder_name = "Loggers"

# Название имени файла куда будет сохранена считанная информация в порте:
  start_name_files = " Avaya 8 bilings "
}

length_lines_in_one_file {
  length = 10
}

# Если сервер отвалился, текущий коннект закроется, но каждые "time" секунд будет проверка и если сервер поднялся программа продолжит работать дальше.
ThreadLifeCheckTimeSecounds {
  time = 5
}




# include required(file("/apps/masterjava/config/persist.conf"))


test_date {
  host = 192.168.1.47
   port = 137
}

path_to_save_files_test {
  folder_name = "Loggers-Test"
  start_name_files = "Test Avaya 8 bilings "
}