<html xmlns:th="http://www.thymeleaf.org" lang="RU">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <style>
        body {background-color: rgba(133, 191, 211, 0.07) }
        h2   {color:blue}
        h5   {color: #9b16ff
        }
        p    {color:green}
        b    {display: inline-block;}
        .xx0 {padding-top: 10px}
        .xxx {padding-left: 20px}
        .xx1 {padding-left: 50px}

    </style>
</head>
<body>
<h2>Отчет по всем звонкам <H5>(По умолчанию выдает данные за прошлый месяц)</H5></h2>
<div class="xx0">


 <!--   /*@thymesVar id="TO" type="main.web.TO.TO"*/-->
<!--    /*@thymesVar id="callsPage" type="org.springframework.data.domain.Page<main.entity.CallsNew>"*/-->
    <!--/*@thymesVar id="all_out_in" type="java.util.List<java.lang.String>"*/ -->
    <!--/*@thymesVar id="beginIndex" type="java.lang.Long"*/-->
<!--    /*@thymesVar id="endIndex" type="java.lang.Long"*/-->
<!--    /*@thymesVar id="currentIndex" type="java.lang.Long"*/-->
<!--    /*@thymesVar id="totalPageCount" type="java.lang.Long"*/-->
<!--    /*@thymesVar id="totalElements" type="java.lang.Long"*/-->



    <form action="/" method="get"  th:object="${TO}" >

      <b class="xxx">
          <label class="control-label col-sm-3" >  Введите период : с
              <input type="date" name="start" id="start" class="form-control" th:field="*{{start}}" th:value="*{{start}}" placeholder="${TO.start}">
          </label><br/>
      </b>
      <b class="xx1">

          <label class="control-label col-sm-3" > по
              <input type="date" name="end" id="end" class="form-control" th:field="*{{end}}"  th:value="${TO.end}" placeholder="${TO.end}">
          </label><br/>
      </b>
      <p>

      </p>
      <b>
            <label for="numD" class="control-label col-sm-3"  th:field="*{numD}">Найти кому звонят :</label>
            <input type="number" class="form-control" id="numD"  th:field="*{numD}"  th:value="${{TO.numD}}" placeholder="dialed_num"><br/>
      </b>
      <b>
            <label for="num" class="control-label col-sm-3"  th:field="*{num}">или кто: </label>
            <input type="number" class="form-control" id="num"  th:field="*{num}"  th:value="${{TO.num}}" placeholder="calling_num"><br/>
      </b>

        <div class="xx0"><b>
            <input type="submit" value="Обновить отчет" name="submit" onclick="myFunction()">


            <label >
                <select class="form-control" th:field="*{answer_all_out_in}" >Направление звонков
                    <option th:each="iter: ${all_out_in}" th:value="${{iter}}" th:text="${iter}"></option>
                </select>
            </label>
            <i  class="xxx" >Найдено всего записей - <span
                    th:text='${totalElements}'>(totalElements)
              </span></i>

        </b></div>




        <table border="1" class="xx0">
            <thead>
            <tr>
                <th>#</th>
                <th width="8%">cond_code</th>
                <th width="8%">date</th>
                <th width="8%">time</th>
                <th width="8%">sec_dur</th>
                <th width="8%">code_dial</th>
                <th width="8%">code_used</th>
                <th width="8%">dialed_num (кому звонят)</th>
                <th width="8%">calling_num (кто звонит)</th>
                <th width="8%">acct_code</th>
                <th width="8%">out_crt_id</th>
                <th width="8%">in_crt_id</th>
                <th width="8%">in_trk_code</th>
            </tr>
            </thead>



            <tbody>
            <tr th:each="call, iter : ${callsPage}">
                <td th:text="${iter.count} + ${callsPage.getPageable().getPageNumber()} * ${callsPage.getPageable().getPageSize()}"></td>
                <td th:text="${call.cond_code}"></td>
                <td th:text="${#temporals.format(call.localDateTime, 'dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(call.localDateTime, 'HH:mm')}"></td>
                <td th:text="${call.getSec_dur()}"></td>
                <td th:text="${call.code_dial}"></td>
                <td th:text="${call.code_used}"></td>
                <td th:text="${call.dialed_num}"></td>
                <td th:text="${call.calling_num}"></td>
                <td th:text="${call.acct_code}"></td>
                <td th:text="${call.out_crt_id}"></td>
                <td th:text="${call.in_crt_id}"></td>
                <td th:text="${call.in_trk_code}"></td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination">
            <li
                    th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
                <a class="page-link" th:href="@{/(page=${0}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}">First</a>
            </li>
            <li
                    th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                <a class="page-link" aria-label="Previous"
                   th:href="@{/(page=${currentIndex - 1}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}"
                   title='Go to previous page'><span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span></a>
            </li>
            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                <a class="page-link" th:href="@{/(page=${item}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}"> <span
                        th:text='${item}'>(currentIndex + item)</span>
                </a>
            </li>
            <li
                    th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
                <a class="page-link" aria-label="Next"
                   th:href="@{/(page=${currentIndex + 1}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}" title='Go to next page'><span
                        aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
            </li>
            <li
                    th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
                <a class="page-link" th:href="@{/(page=${totalPageCount}, start=*{{start}}, end =*{{end}},answer_all_out_in =*{{answer_all_out_in}}, num =*{{num}}  )}">Last</a>
            </li>
        </ul>



  </form>
</div>




<script type="text/javascript">

    function myFunction() {
        var num = document.getElementById("num").value;

        if(num === null || num.length === 0 ){
            return true;
        }

        if(num.length > 10){
            alert("Слиииишком длинный номер телефона. Не больше 10 цифр.");
            return false;
        }
        if(!num.match(/^\d+$/)) {
            alert('В поле "Номер телефона" должно стоять числовое значение(только цифры)!');
            return false;
        }
        return  true;
    }
</script>
</body>
</html>

